<%- include('../layout/adminHeader.ejs') %>
  <%- include('../layout/adminSideBar.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <style>
      .revenue,
      .customer,
      .oders,
      .customer,
      .products {

        background-color: #007bff19;
      }
    </style>


    <title>Dashboard</title>
    <main class="ml-5">
      <section class="content-main container">
        <div class="content-header d-flex justify-content-between">
          <div>
            <h2 class="content-title">Dashboard</h2>
          </div>

          <div class="content-header d-flex justify-content-between">
            <div>
              <span for="reportType" class="form-label">Select Report Type:</span>
              <div style="display: inline-flex; gap: 10px;">
                <select style="width: 100px; height: 40px; " class="form-select" id="reportType">
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
                <butotn id="download-report"
                  style="width: 100px; height: 30px; text-align: center; padding: 10px; line-height: 10px;"
                  class="btn btn-primary">Download</button>

              </div>


            </div>

          </div>

        </div>





        <div class="row">
          <div class="col-lg-3">
            <div class="card revenue card-body mb-4 shadow-sm">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle alert-primary"><i
                    class="text-primary fas fa-usd-circle"></i></span>
                <div class="text">
                  <h6 class="mb-1 ">Total Revenue</h6><b class="h5">₹ </b>
                  <span class="h5" id="totalRevenue"></span>
                </div>
              </article>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card customer card-body mb-4 shadow-sm">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle alert-success"><i
                    class="text-success fas fa-bags-shopping"></i></span>
                <div class="text">
                  <h6 class="mb-1">Total Customers</h6>
                  <span class="h5" id="totalCustomers"></span>
                </div>
              </article>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card oders card-body mb-4 shadow-sm">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle alert-success"><i
                    class="text-success fas fa-bags-shopping"></i></span>
                <div class="text">
                  <h6 class="mb-1">Total Orders</h6>
                  <span class="h5" id="totalOders"></span>
                </div>
              </article>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card products card-body mb-4 shadow-sm">
              <article class="icontext">
                <span class="icon icon-sm rounded-circle alert-warning"><i
                    class="text-warning fas fa-shopping-basket"></i></span>
                <div class="text">
                  <h6 class="mb-1">Total Products</h6>
                  <span class="h5" id="totalProduct"></span>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-12">
            <div class="card mb-4 shadow-sm">
              <article class="card-body">
                <h5 class="card-title">Revnue statistics</h5>
                <label for="dateInput">Select range:</label>
                <select class="form-control w-25" id="revenueRange">
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
                <canvas id="revenueChart" width="100%" height="80"></canvas>
              </article>
            </div>
          </div>

          <div class="col-xl-6 col-lg-12">
            <div class="card mb-4 shadow-sm">
              <article class="card-body">
                <h5 class="card-title">Sale statistics</h5>
                <label for="dateInput">Select range:</label>
                <select class="form-control w-25" id="saleRange">
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
                <canvas id="saleChart" width="100%" height="80"></canvas>
              </article>
            </div>
          </div>

          <div class="col-xl-6 col-lg-12">
            <div class="card mb-4 shadow-sm">
              <article class="card-body">
                <h5 class="card-title">Category statistics</h5>
                <label for="dateInput">Select range:</label>
                <canvas id="categoryChart" width="100%" height="80"></canvas>
              </article>
            </div>
          </div>



        </div>


      </section>
    </main>




















    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const totalProduct = document.getElementById('totalProduct');
        const totalOders = document.getElementById('totalOders');
        const totalCustomers = document.getElementById('totalCustomers');
        const totalRevenue = document.getElementById('totalRevenue');
        let statisticsResponse;
        let revenueArray;
        let salesArray;
        let categoryArray;
        let categoryNames;
        async function getStatistics() {
          try {
            statisticsResponse = await axios.get("/admin/dashboard/statistics");
            totalProduct.innerText = statisticsResponse.data.totalProducts;
            totalOders.innerText = statisticsResponse.data.oderCount;
            totalCustomers.innerText = statisticsResponse.data.totalCustomers;
            totalRevenue.innerText = statisticsResponse.data.totalRevenue;


          } catch (error) {
            console.error(error);
          }

        }
        async function getRevenueData() {
          try {
            statisticsResponse = await axios.get("/admin/dashboard/statistics");

            revenueArray = statisticsResponse.data.formattedMonthlyRevenue;
            categoryNames = statisticsResponse.data.categoryNames;

            const revenueData = {
              labels: categoryNames,
              datasets: [{
                label: "Revenue",
                data: revenueArray,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
                ],
                hoverBackgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],

                borderWidth: 1
              }]
            };



            var revenue = new Chart(document.getElementById('revenueChart'), revenueConfig);

            revenue.update()

          } catch (error) {
            console.error(error);
          }

        }

        async function getSalesData() {
          try {
            statisticsResponse = await axios.get("/admin/dashboard/statistics");

            salesArray = statisticsResponse.data.formattedMonthlySales;


            const salesData = {
              labels: ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"],
              datasets: [{
                label: "Sales",
                data: salesArray,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
                ],
                hoverBackgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],

                borderWidth: 1
              }]
            };

            // sales Chart  configuration
            const salesConfig = {
              type: 'bar',
              data: salesData,
              options: {
                scales: {
                  yAxes: [{
                    stacked: true,
                    gridLines: {
                      display: true,
                      color: "rgba(255,99,132,0.2)"
                    },
                    ticks: {
                      min: 0,
                      callback: function (value, index, values) {
                        if (Math.floor(value) === value) {
                          return value;
                        }
                      }
                    }
                  }],
                  y: {
                    beginAtZero: true
                  },

                }
              },
            };

            var sales = new Chart(document.getElementById('saleChart'), salesConfig);
            sales.update();

          } catch (error) {
            console.error(error);

          }

        }
        async function getSalesData() {
          try {
            statisticsResponse = await axios.get("/admin/dashboard/statistics");

            salesArray = statisticsResponse.data.formattedMonthlySales;


            const salesData = {
              labels: ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"],
              datasets: [{
                label: "Sales",
                data: salesArray,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
                ],
                hoverBackgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],

                borderWidth: 1
              }]
            };

            // sales Chart  configuration
            const salesConfig = {
              type: 'bar',
              data: salesData,
              options: {
                scales: {
                  yAxes: [{
                    stacked: true,
                    gridLines: {
                      display: true,
                      color: "rgba(255,99,132,0.2)"
                    },
                    ticks: {
                      min: 0,
                      callback: function (value, index, values) {
                        if (Math.floor(value) === value) {
                          return value;
                        }
                      }
                    }
                  }],
                  y: {
                    beginAtZero: true
                  },

                }
              },
            };

            var sales = new Chart(document.getElementById('saleChart'), salesConfig);
            sales.update();

          } catch (error) {
            console.error(error);

          }

        }

        async function getCategoryData() {
          try {
            statisticsResponse = await axios.get("/admin/dashboard/statistics");

            categoryArray = statisticsResponse.data.productCounts;
            const categorydata = {
              labels: categoryNames,
              datasets: [{
                data: categoryArray,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
                ],
                radius: 200,
                borderWidth: 1
              }]
            };

            //category chart configuration
            const categoryConfig = {
              type: 'pie',
              data: categorydata,
            };

            var category = new Chart(document.getElementById('categoryChart'), categoryConfig);



            category.update()

          } catch (error) {
            console.error(error);

          }

        }
        getRevenueData();

        getStatistics();

        getSalesData();

        getCategoryData()








        //sales chart data














      });
    </script>













    <script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", async (e) => {
        const reportTypeElement = document.getElementById('reportType');

        reportTypeElement.addEventListener("change", () => {
          const selectedReportType = reportTypeElement.value;
          console.log(selectedReportType);

          const reportDownload = document.getElementById('download-report').addEventListener("click", async (e) => {
            const response = await axios.get(`/admin/sales-report?reportType=${selectedReportType}`);
            const salesReport = response.data.salesReport;

            // Create and download Excel file

            createAndDownloadExcel(salesReport);
          });
        });

        function createAndDownloadExcel(data) {
          const workbook = new ExcelJS.Workbook();
          const worksheet = workbook.addWorksheet('Sales Report');

          // Add headers
          worksheet.addRow(['Product Name', 'Quantity', 'Payment Mode', 'Total Amount']);

          // Add data
          data.forEach(entry => {
            worksheet.addRow([entry.productName, entry.quantity, entry.paymentMode, entry.totalAmount]);
          });

          // Save the workbook to a buffer
          workbook.xlsx.writeBuffer().then(buffer => {
            // Create a Blob from the buffer
            const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

            // Create a link element and trigger a click event to download the file
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = 'sales_report.xlsx';
            link.click();
          });
        }
      });
    </script>

    <%- include('../layout/adminFooter.ejs') %>