* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer-credit{

    text-align: center;
    margin-top: 40px;
    font-size: 10px;
}
.footer-outer{

    color: #fff;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
}