

.header-outer{
    display: flex;
    justify-content: center;
    background-color: #333;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Set a z-index to ensure the header stays on top of other elements */

}

.header{
    background-color: white;
    position: absolute;
    top: 0;
    position: static;

}