<%- include('../layout/header.ejs') %>




<main  class="container  d-flex justify-content-center align-items-center">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
      <% } else if(messages.success) {%>
        <div class="alert alert-success" role="alert">
          <%= messages.success %>
        </div>
     <% }%>
        <p class="card-text py">
            Enter your email address.
        </p>
        <form action="/forget-password" method="post" >

          <div class="form-outline">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" oninput=" validateEmail()">
            <p id="emailWarning" class="text-danger"></p>

        </div>
                <button onclick="validateEmail()" class="btn btn-primary">Reset Password</button>      
  </form>
     
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/login">Login</a>
            <a class="" href="/register">Register</a>
        </div>
    </div>
</div>
</main>



<script>
  function validateEmail() {
       var email = document.getElementById('email').value;
       const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

       if (email === '') {
           document.getElementById('emailWarning').innerText = 'Email is required';
       } else if (!emailRegex.test(email)) {
           document.getElementById('emailWarning').innerText = 'Invalid email format';
       } else if (!email.includes('.com')) {
           document.getElementById('emailWarning').innerText = 'Email must contain ".com"';
       } else {
           document.getElementById('emailWarning').innerText = '';
       }
   }

</script>


  
  <%- include('../layout/footer.ejs') %>