<%- include('../layout/header.ejs') %>
<style>
    .container{
        margin-top: 150px;
    }
.min-height-div1 {
  min-height: 200px; /* Adjust the height as needed */
}
.min-height-div2 {
  min-height: 500px; /* Adjust the height as needed */
}
body {
      font-family: Arial, sans-serif;
    }
    .list-item {
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    .list-item i {
      font-size: 24px; /* Adjust the icon size */
      margin-right: 10px; /* Add space between icon and text */
    }
    .options{
      text-decoration: none;
    }
    .options:hover{
      text-decoration: none;
    }
    .active {
      background-color: #3498db;
      color: #fff;
    }
    .inactive {
      background-color: #fff;
      color: #333;
    }
</style>
<main>
  <div class="container">
    <div class="row d-flex justify-content-evenly">
      <div class="setting-options  col-md-4 col-lg-4 col-xl-3 col-xxl-3  mb-2 min-height-div1 mb-md-4">
        <ul class="list-group " id="myList">
           <a class="options" href=""><li class="list-group-item inactive list-item">
              <i class="bi bi-person"></i> Profile
            </li></a> 
           <a  class="options" href=""><li class="list-group-item inactive list-item">
              <i class="bi bi-box"></i> Orders
            </li></a> 
            <a  class="options" href=""><li class="list-group-item inactive list-item">
              <i class="bi bi-cart"></i> Cart
            </li></a>
           <a   class="options" href=""><li class="list-group-item  inactive list-item">
              <i class="bi bi-heart"></i> Wishlist
            </li></a> 
           <a  class="options" href=""><li class="list-group-item  inactive list-item">
              <i class="bi bi-geo-alt"></i> Address
            </li></a> 
          </ul>
      </div>
      <div class="view-settings  col-md-6 col-lg-6 col-xl-7 col-xxl-6  border min-height-div1 mb-md-4">View Settings</div>
    </div>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get all list items
    var listItems = document.querySelectorAll('#myList li');

    // Add click event listeners to each list item
    listItems.forEach(function(item) {
      item.addEventListener('click', function() {
        // Toggle the active state of the clicked item
        item.classList.toggle('active');

        // Deactivate all other items
        listItems.forEach(function(innerItem) {
          if (innerItem !== item) {
            innerItem.classList.remove('active');
          }
        });
      });
    });
  });
</script>
  
<%- include('../layout/footer.ejs') %>
