<!DOCTYPE html>
<html lang="en">
<head>
  
<style>
  header {
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.371);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .imageToCrop{
    
    background-size: cover;
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">
<!-- Include Axios and Toastr JS in your HTML -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="/css/adminContent.css">
<!-- Add this to the head of your HTML file -->
<!-- Cropper CSS -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<!------ Include the above in your HEAD tag ---------->
<!-- Include Bootstrap Icons via CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="/css/SideBar.css">
  
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />  
</head>
<body>
 
  <header  class="p-3 mb-0 border-bottom  bg-primary">
    <div class="container text-white">
      <div class="d-flex justify-content-between">
        <h4>VoltTron </h4>
       


        <div class="dropdown text-end">
          <a href="#" class="d-flex justify-content-arround  text-white text-decoration-none " data-bs-toggle="dropdown">
            <i class="bi bi-gear" style="font-size: 20px;"></i>   
                </a>
          <ul class="dropdown-menu text-small">
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item" href=""></a></li>
            <% } else { %>
            <li><a class="dropdown-item" href="/register">Sign In</a></li>
            <% } %>
            <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li> -->
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </header>
  