
<aside>

    <div id="wrapper" class="active">
          
      <!-- Sidebar -->
            <!-- Sidebar --> 
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav  d-flex ">
<a id="menu-toggle" href="#"><span style="font-size: 25px;margin-left: 80px; font-size: 40px;" id="main_icon" class="bi bi-list "></span></a>

      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li><a href="/admin/dashboard"><i style="font-size: 25px;" class="bi bi-speedometer2 "></i></a></li>
          <li><a href="/admin/customers"><i style="font-size: 25px;" class="bi bi-people"></i></a></li>
          <li><a href="/admin/products"><i style="font-size: 25px;"  class="bi bi-cart-check"></i></a></li>
          <li><a href="/admin/category"><i style="font-size: 25px;"  class="bi bi-ui-checks-grid"></i></a></li>
          <li><a href=""><i style="font-size: 25px;"  class="bi bi-box"></i></a></li>
          <li><a href=""><i style="font-size: 25px;" class="bi bi-ticket-detailed"></i></a></li>
         


        </ul>
      </div>
          
      <!-- Page content -->
      <div id="">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              <div class="col-md-12">
             
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </aside>