<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<!------ Include the above in your HEAD tag ---------->
<!-- Include Bootstrap Icons via CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="/css/SideBar.css">


<!-- header section -->


    
</head>
<body>
 

<header class="p-3 mb-0 border-bottom text-bg-dark">
    <div class="container text-white">
      <div class="d-flex flex-wrap align-items-lg-baseline justify-content-between justify-content-lg-between">
   

       <h4>VoltTron Drashboard</h4>

        <form class="col-5 col-lg-4 mb-3 mb-lg-0 me-lg-3" role="search">
          <div class="d-flex gap-2"><input type="search" name="search" class="form-control w-100" placeholder="Search..." aria-label="Search">
          <input class="btn btn-secondary" type="submit" value="Search" name="" id=""></div>
          
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
              <li><a class="dropdown-item" href=""></a></li>
              <% }else{%>
                <li><a class="dropdown-item" href="/register">Sign In</a></li>
                <%} %>
                  
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
              <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>
  </header>
