<nav id="sidebar" class="shadow">
  <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/images/logo.png);"></a>
      <ul class="list-unstyled components mb-5">
        <li class="">
          <a href="/admin/dashboard"><i style="font-size: 25px;" class="bi bi-speedometer2"></i> Dashboard</a>
        </li>
      
        <li class="">
          <a href="/admin/customers"><i style="font-size: 25px;" class="bi bi-people"></i> Customers</a>         
        </li>
        <li>
          <a href="/admin/products"><i style="font-size: 25px;" class="bi bi-cart-check"></i> Products</a>
        </li>
        <li>
          <a href="/admin/category"><i style="font-size: 25px;" class="bi bi-ui-checks-grid"></i> Category</a>
        </li>     
        <li>
          <a href="/admin/brand"><i style="font-size: 25px;" class="bi bi-patch-check"></i> Brand</a>    
            </li>  
        <li>
          <a href="/admin/oders"><i style="font-size: 25px;" class="bi bi-box"></i> Orders</a>      
          </li>  
        <li>
          <a href="/admin/offer"><i style="font-size: 25px;" class="bi bi-ticket-detailed"></i> Offers</a>      
          </li>  
          <li>
            <a href="/admin/banners"><i style="font-size: 25px;" class="bi bi-image"></i> Banners</a>              </li>  
            <li>
              <a href="/admin/coupon"><i style="font-size: 25px;" class="bi bi-ticket-perforated"></i> Coupons</a>                 </li>  
      </ul>
      
      <div class="footer">
          <p><!-- Link back to Colorlib can't be removed... --></p>
      </div>
  </div>
</nav>
