<aside>
  <div id="wrapper" class="active  ">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul id="sidebar_menu" class="sidebar-nav d-flex ">
              <a id="menu-toggle" href="#"><span style="font-size: 25px; margin-left: 80px; font-size: 40px;" id="main_icon" class="bi bi-list "></span></a>
          </ul>
          <ul class="sidebar-nav" id="sidebar">
              <li class="tooltip-item" data-toggle="tooltip" title="Dashboard"><a href="/admin/dashboard"><i style="font-size: 25px;" class="bi bi-speedometer2"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Customers"><a href="/admin/customers"><i style="font-size: 25px;" class="bi bi-people"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Products"><a href="/admin/products"><i style="font-size: 25px;" class="bi bi-cart-check"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Category"><a href="/admin/category"><i style="font-size: 25px;" class="bi bi-ui-checks-grid"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Orders"><a href=""><i style="font-size: 25px;" class="bi bi-box"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Coupon Management"><a href=""><i style="font-size: 25px;" class="bi bi-ticket-detailed"></i></a></li>
              <li class="tooltip-item" data-toggle="tooltip" title="Banner Management"><a href="/admin/banners"><i style="font-size: 25px;" class="bi bi-image"></i></a></li>
          </ul>
      </div>
      <!-- Page content -->
      <div id="">
          <!-- Keep all page content within the page-content inset div! -->
          <div class="page-content inset">
              <div class="row">
                  <div class="col-md-12">
                  </div>
              </div>
          </div>
      </div>
  </div>
</aside>

<!-- Include Bootstrap and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
  .tooltip-inner {
      max-width: 300px;  /* Adjust the maximum width as needed */
      font-size: 20px;  /* Adjust the font size as needed */
  }
</style>

<script>
  $(document).ready(function () {
      $('.tooltip-item').mouseover(function (e) {
          var tooltip = $(this).find('[data-toggle="tooltip"]');
          tooltip.css({
              top: e.clientY + 10,  // 10 pixels below the mouse pointer
              left: e.clientX + 10,
          });
          tooltip.tooltip('show');
      });

      $('.tooltip-item').mouseout(function () {
          $(this).find('[data-toggle="tooltip"]').tooltip('hide');
      });
  });
</script>
