<footer>
  <hr>
  <div class="container mt-5" style="">
    <div class="row justify-content-between">
      <div class="col-12 col-md-2  mb-2">
        <!-- First image in a single row -->
        <div class="mb-2">
          <img width="100" height="20" src="/images/VoltTron.png" alt="">
        </div>

        <!-- All other images in the same row -->
        <div class="d-flex flex-wrap">
          <a class="btn text-dark btn-floating " href="" role="button">
            <i class="fab fa-facebook-f" style="font-size: 16px;"></i>
          </a>

    

          <!-- Google -->


          <!-- Instagram -->
          <a class="btn text-dark btn-floating m-1" href="" role="button">
            <i class="fab fa-instagram" style="font-size: 16px;"></i>
          </a>

          <!-- Linkedin -->
          <a class="btn text-dark btn-floating m-1" href="" role="button">
            <i class="fab fa-linkedin-in" style="font-size: 16px;"></i>
          </a>




        </div>
      </div>

      <div class="col-12 col-md-2  mb-2">
        <ul class="list-unstyled ">
          <h6 class="font-weight-bold">Products</h6>
          <li><a class="text-decoration-none text-dark" href="">Mobiles</a></li>
          <li><a class="text-decoration-none text-dark" href="">Laptops</a></li>
          <li><a class="text-decoration-none text-dark" href="">SmartWatches</a></li>
          <li><a class="text-decoration-none text-dark" href="">HeadPhones</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2  mb-2">
        <ul class="list-unstyled ">
          <h6 class="font-weight-bold">Help</h6>
          <li><a class="text-decoration-none text-dark" href="">FAQ</a></li>
          <li><a class="text-decoration-none text-dark" href="">Shipping</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2  mb-2">
        <ul class="list-unstyled ">
          <h6 class="font-weight-bold">About</h6>
          <li><a class="text-decoration-none text-dark" href="">Contact us</a></li>
          <li><a class="text-decoration-none text-dark" href="">About us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2 mb-2">
        <!-- First image in a single row -->
        <div class="mb-2">
          <h6 class="font-weight-bold">Payment Methoods</h6>
        </div>


        <div class="d-flex flex-wrap ">

          <img src="/images/gpay.png" alt="">

          <img src="/images/credit.png" alt="">

          <img src="/images/razo.png" alt="">

          <img src="/images/paypal.png" alt="">




        </div>
      </div>
    </div>
  </div>
</footer>
<!-- axios script -->
<!-- jquer script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

<!-- notify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- alret jqury-confirm   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<!-- eassy invoice -->



<!-- util -->

</body>

</html>